In [1]:
%load_ext autoreload
%autoreload 2

In [12]:
import monthly_totals

In [13]:
data = monthly_totals.get_precip_data()

In [14]:
totals_pd, counts_pd = monthly_totals.pivot_months_pandas(data)

(11, 12)

In [15]:
totals_loop, counts_loop = monthly_totals.pivot_months_loops(data)

In [16]:
totals_loop  # look how nicely Jupyter displays a DataFrame...

month                   2016-01  2016-02  2016-03  2016-04  2016-05  2016-06  2016-07  2016-08  2016-09  2016-10  2016-11  2016-12
name
BURNABY SIMON FRASER U    180.9    148.2    215.9     37.4     60.6     42.8     44.2      6.8     95.6    142.9    134.9    184.6
CALGARY INTL A             12.1      2.2      4.6      4.0     68.3     61.6    206.1     83.4     25.3     27.6      2.7     22.4
GANDER INTL A              89.6    123.2     99.2    110.6    123.6    101.5    126.4    109.6    102.6    242.2    118.4    109.9
HALIFAX INTL A            149.1    147.3    145.2    159.5    100.1     72.5     73.4     44.5     84.5    218.5    130.5    183.5
MONTREAL INTL A            33.6     95.7     95.8     91.9     29.3     59.9     70.6    146.2     24.4    153.2     51.6     87.1
REVELSTOKE                 93.0     56.1     53.3     20.4     54.6     74.8     66.2     27.4     78.5    162.0    129.3     29.5
SHERBROOKE                 18.3     98.2     62.1     47.1     66.7     67.1     52.5    159.9     43.3    117.6     59.4     62.7
TORONTO CITY CENTRE        13.4     44.7     89.3     61.0     22.0     43.7     55.9     53.4     58.8     24.6     37.4     47.9
TORONTO INTL A             36.3     49.1     72.9     68.1     34.6     26.9     39.9     66.7     66.3     45.2     49.7     82.1
VANCOUVER INTL A          168.2    130.4    161.6     24.2     51.6     58.2     32.8     13.8     78.4    203.4    240.2    152.0
YELLOWKNIFE A              22.0      9.0      2.8     12.0      9.8     30.6     15.4     28.0     48.8     15.8     17.6     11.6

In [17]:
abs(totals_pd.values - totals_loop.values).sum() # the two totals should be the same (difference < 1e-8)

0.0

In [18]:
abs(counts_pd.values - counts_loop.values).sum() # ...counts too.

0

In [19]:
%timeit monthly_totals.pivot_months_pandas(data)

(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
(11, 12)
19.3 ms ± 508 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [20]:
%timeit monthly_totals.pivot_months_loops(data)

202 ms ± 2.03 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)